--- 
title: About
layout: 'base.njk'
---


<main>
<section class="submission-text">
  <h1>About The Site</h1>
  <p>I launched this site when I was burdened with a pang of tremendous guilt that arose from a personal and emotional failure. I couldn’t embrace my mother and express my love for her during her fierce battle with cancer. As a nervous and solitary traveler on a difficult road, instead of walking directly on the path, I walked through the flowerless yet fertile meadow that ran alongside me. I wondered if other children, like myself, are also unable to express the deepest love they hold for their parents. I invited my friends to share their work. “OurLetterToYou” is where I publish them.</p>
</section>

  <div class="container-about">

    <section id="team-members">
      <div class="team-member">
        <img src="https://raw.githubusercontent.com/soffyzen/utsuk/main/utsuk-photo.jpg" class="utsuk-photo" alt="Utsuk">
       <b> <p class="team-name">Utsuk Upreti</p> </b>
        <p class="role">Writer / Editor </p>
        <p class="role-desc">I am a high school graduate and an aspiring writer attempting to express myself through storytelling. </p>
      </div>

      <div class="team-member">
        <img src="https://raw.githubusercontent.com/soffyzen/utsuk/main/stuti.jpg" alt="Stuti">
        <b><p class="team-name">Stuti Upreti</p></b>
        <p   class="role" >Developer</p> 
        <p class="role-desc">I am a 10th-standard student and an emerging web developer, passionate about creating innovative and user-friendly digital experiences that blend creativity with technology.</p>
      </div>
    </section>
  </div>
<main>
