--- 
title: OurLetterToYou
layout: 'base.njk'
--- 
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">OurLetterToYou</h1>
        <p class="about-website">OurLetterToYou is a heartfelt platform where individuals can express their deepest emotions—love, anger, and everything in between—through the art of writing. We understand that some find it challenging to directly communicate their feelings to their parents. Here, we provide a safe space for writers to share their poems, stories, and memoirs, offering a powerful channel of expression. Whether it's a tribute, a catharsis, or an ode to cherished memories, each submission is a testament to the profound bond between parents and their children. Parents play an irreplaceable role in shaping our lives, and through this platform, we celebrate their significance in our journey of emotional growth and connection.</p>
        <p>Below you can find some of the featured articles</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="http://tiny.cc/11tyimg" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

{%- for post in collections.featured | reverse -%}

{% include 'article-snippet.njk' %}

{%- endfor %}

</ul>
  </div>
</section> 