---
title: Submission
layout: 'base.njk'
---

<section class="submission-text">
  <h1>Submission</h1>
  <p>Thank you for choosing OurLetterToYou as the canvas for your emotions. Your willingness to share your heartfelt words is deeply appreciated. Your contributions strengthen the bonds between parents and children, leaving a lasting impact on our community. We look forward to being a part of your emotional journey.</p>
</section>

<section class="submission-guidelines">
  <h1>Submission Guidelines</h1>
  <ol>
    <li>Submissions should revolve around emotions, particularly expressions of love, anger, or other strong feelings towards parents.</li>
    <li>We accept written content in the form of poems, stories, or memoirs.</li>
    <li>Word Limits:
      <ul>
        <li>Poems - 50 to 300 words</li>
        <li>Short stories - 500 to 2500 words</li>
        <li>Memories - 1000 to 3000 words</li>
      </ul>
    </li>
    <li>Users are allowed to submit content anonymously if they prefer.</li>
    <li>Submissions must be original and not previously published elsewhere.</li>
    <li>Respectful and non-exploitative content is encouraged.</li>
    <li>Make sure that your submission is written in a respectful and considerate tone, even when expressing strong emotions.</li>
    <li>Proofread your work for spelling, grammar, and clarity before submission.</li>
    <li>Authors can include an image to complement their written content.</li>
    <li>If the submission involves personal details about parents, authors are advised to obtain their consent before publishing.</li>
    <li>We may take a few days but not more than a week to review your submissions and consider for publication.</li>
    <li>Authors are encouraged to categorize their submissions by emotion (love, anger, etc.) and type (poem, story, memoir).</li>
    <li>Contact Information: Mail the submissions at <a href="mailto:utsukupreti10@gmail.com">utsukupreti10@gmail.com</a>. Use the same mail address to clarify your concerns regarding submissions.</li>
    <li>Remember, we value originality, creativity, and authenticity more than anything in your writing.</li>
  </ol>
</section>
